src/main/mule/api-nasa-apod.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
	<flow name="api-nasa-apod-main">
		<http:listener
			config-ref="api-nasa-apod-httpListenerConfig" path="${http.path}">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body><![CDATA[#[payload]]]></http:body>
				<http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="api-nasa-apod-config" />
		<error-handler ref="api-kir-error-handler" />

	</flow>
	<flow name="api-nasa-apod-console">
		<http:listener
			config-ref="api-nasa-apod-httpListenerConfig" path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="api-nasa-apod-config" />
	</flow>
	<flow name="get:\apod:api-nasa-apod-config">
		<logger level="INFO" doc:name="Inicio do fluxo get  pictures"
			doc:id="319ad323-56a4-4cd2-aaf0-796cb68aa2f9"
			message="Inicio do fluxo get  pictures" />
		<ee:transform doc:name="variaveis">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable
					resource="dwl/vars/queryParams/date.dwl" variableName="date" />
				<ee:set-variable
					resource="dwl/vars/queryParams/start_date.dwl"
					variableName="start_date" />
				<ee:set-variable
					resource="dwl/vars/queryParams/end_date.dwl"
					variableName="end_date" />
				<ee:set-variable
					resource="dwl/vars/queryParams/count.dwl" variableName="count" />
				<ee:set-variable
					resource="dwl/vars/queryParams/api_key.dwl" variableName="api_key" />
				<ee:set-variable
					resource="dwl/vars/queryParams/thumbs.dwl" variableName="thumbs" />
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="get-pictures"
			doc:id="a25f9046-0717-417f-a95d-a81ce92c1ada"
			name="get-picturesSubFlow" />
		<logger level="INFO" doc:name="Fim do fluxo get  pictures"
			doc:id="fd846fb4-4f64-497f-8f00-9d139efd4266"
			message="Fim do fluxo get  pictures" />
	</flow>
</mule>
